<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header>
      <%- include('../partials/header'); %>
    </header>

    <main>
      <div class="jumbotron">
        <h1>Bootstrp your business with Node.js <%= process.env.AWS_REGION %></h1>
        <h2><%= process.env.REDIS_ENDPOINT %></h2>
        <h2><%= process.env.REDIS_PORT %></h2>
        <p>Welcome to templating using EJS</p>
      </div>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

  </body>
</html>